/* common css for Notes app */
body {
	width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
h3{
	color: #999;
	padding-left: 10px;
}
.container{
	padding: 0 10px;
}
#appContainer {
	width: 50%;
	max-width: 600px;
	min-width: 160px;
	position: relative;
	margin: 2px auto;
	font: 14px/1em Helvetica,Arial,sans-serif;
	padding: 0;	
	background:#fff url("../images/bg.jpg") no-repeat 100% -26px;	
}
.notesForm {
	margin: 110px 10px 10px 10px;
}
.noteslist ul{
	padding: 0;
	margin: 0;
}
.noteslist li {
	list-style: none;
	padding: 5px 0;
	margin: 0;
	width: 100%;
}
.noteslist .icon{
	text-align: right;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 10px;
    right: 8px;
}
.noteslist .icon i{
	font-size: 20px;
	padding: 0 3px;	
}
.noteslist .icon i:hover{
	color: #0077bb;
}
.each-note {
	border: 1px solid #ccc;
	padding: 10px 6px;
	width: auto;
	position: relative;
}
.each-note:hover {
	background: #eee;
}
.each-note label{
	width:76%;
	display: inline-block;
}
.each-note .note-check {
	display: inline-block;
	width: 15px;
}
.each-note .note-text {
	display: inline-block;
    width: 87% !important;
    vertical-align: top;
    word-break: break-word;
}
.each-note .hidenEdit{
	position: absolute;
    text-align: right;
    right: 10px;
    top: 18px;
}
.selected-note {
	/*text-decoration: line-through;*/	
}
input, button {
	vertical-align:middle;
	font-size: 15px;
	box-sizing:border-box;
	border-radius: 6px;
}
.notesForm input[type="text"] {
   	border: 1px solid #ccc;
    line-height: 2.5;
    padding: 0;
    text-indent: 10px;
    width: 100%;
}
.notesForm input[type="text"].ng-invalid {
	border: 1px solid #ff0000;
}
.app-button, .form-button {
	background: #0077bb;
	border: none;
    line-height: 2.5;
    padding: 0 30px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.4s ease-in 0s;
    width:100%;
    margin: 10px 0;
}
.app-button {
	background: #ccc;
	color: #fff;
	width: 48%;
    margin-left: 5px;
}
.form-button:hover {
	background: #0077ff;
}
.app-button:hover {
	background: #aaa;
}
/* css for mobile device */
@media only screen and (max-width : 636px) {
	#appContainer {
		width: 100%;
		margin: 2px -10px;
	}
	.each-note .note-text {
	    width: 87% !important;
	}
	.app-button {
		width: 100%;
	    margin-left: 0;
	}
}
/* css for tablet device */
@media only screen  and (max-width : 1024px) {
	#appContainer {
		width: 100%;
	}
}
