<!-- To Do Notes App 
	Implemented task option 1 as per requirements, 
	other features like creating user account, creates json per user and store etc. in next phase.
-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Todo Notes by Hetal</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<link rel="stylesheet" href="css/notes.css" />
	<link rel="stylesheet" href="css/bird.css" />
	<!-- cdn link for icons -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">	
</head>

<body ng-app="notesApp">
	<div class="container">  
  	<div ng-controller="notesController" id="appContainer">
  		<h3>Notes:</h3>  
 		<div class="notesForm">
 			<form name="notesForm" ng-submit="addNote()">
 				<input type="text" name="newnote" ng-model="newNote" placeholder="Enter your notes here ..." required />
 				<button type="submit" class="form-button" ng-disabled="notesForm.$invalid">Add Note</button> 				
 			</form> 			
 		 		
	 		<div class="noteslist">
	 				<span>You have {{notes.length}} Notes</span>
	 				<ul>
	 					<li ng-repeat="note in notes"> 						
	 						<div class="each-note note-$index">
	 							<div ng-show="!editing"> 
	 								<label><input type="checkbox" ng-model="note.selected" class="note-check"/>
	 								<div ng-class="{'selected-note':note.selected}" class="note-text">{{note.text}}</div></label>	
	 							</div>
           						<div ng-show="editing">
           							<input type="text" ng-model="editNote" class="note-text"> 
           							<i class="material-icons hidenEdit" ng-click="note.text = editNote; editing = false;">edit</i>
           						</div>
           
								<span ng-hide="editing" class="icon" >
									<i class="material-icons" ng-click="editNote = note.text; editing = true;">edit</i>
									<i class="material-icons" ng-click="removeNote($index)">delete</i>
								</span>							
	 						</div> 											
	 					</li>
	 				</ul> 				
	 				<button class="app-button" ng-click="removeSelectedNote()">Remove Selected</button>
	 				<button class="app-button" ng-click="saveNotes()">Save Notes</button>
	 		</div>
		</div>
	</div>
	</div>

	<script src="js/notes.js"></script>
</body>

</html>
